.custom-card {
    border: 1.5px solid #4dd46d;
    text-decoration: none; 
    box-shadow: 5px 5px 5px rgba(61, 181, 58, 0.435);
}

.custom-card:hover {
    box-shadow: 0 4px 8px rgb(191, 161, 240); 
    transform: translateY(-2px); 
    transition: all 0.3s ease; 
}

.custom-card-proximamente {
    height: 200px; 
    border: 1px solid rgb(135, 75, 233); 
    text-decoration: none;
}

.custom-card-proximamente .card-img {
    max-width: 100%; 
    height: 100px;
}

.card-img {
    width: 100%;
    height: 200px; 
    object-fit: contain; 
}

.read-more {
    color: #4dd46d;
    text-decoration: none;
    font-weight: bold;
}
