.custom-card {
    height: 90%;
    border: 1.5px solid #4dd46d;
    text-decoration: none; 
    box-shadow: 5px 5px 5px rgba(63, 180, 61, 0.435);
}

.custom-card:hover {
    box-shadow: 0 4px 8px rgb(191, 161, 240); 
    transform: translateY(-2px); 
    transition: all 0.3s ease; 
}

.custom-card-proximamente {
    height: 250px;
    border: 1.5px solid rgb(135, 75, 233); 
    text-decoration: none;
}

.read-more {
    color: #4dd46d;
    text-decoration: none;
    font-weight: bold;
}